body {
    font-family: Arial, sans-serif, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
}

.container {
    display: flex;
    gap: 30px;
}

.card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.card img {
    width: 100%;
    border-radius: 0px;
}

.card h2 {
    font-size: 1.2em;
    margin: 10px 0 5px;
}

.card p {
    font-size: 0.9em;
    color: gray;
    margin: 5px 0 20px;
}

.card img:last-child {
    width: 50%;
}
